/* Custom radio and check box ----------- */
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
  padding-top: 5px
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #fff;
  border: 1px solid #F2681F;
}
.control--radio .control__indicator {
  border-radius: 50%;
}

.control input:checked ~ .control__indicator {
  background: #F2681F;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #F2681F;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
    left: 7px;
    top: 1px;
    width: 7px;
    height: 14px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
  left: 6px;
  top: 6px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}
.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  max-width: 100%;
}
.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #e6e6e6;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #000;
  background: #ccc;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}
.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}


/* Responsive Styles ----------- */

/*==========  Mobile First Method  ==========*/
@media only screen and (min-width : 320px) {
	.bottom10 {position: absolute; bottom: 10%; width:97%}
}
@media only screen and (min-width : 640px) {

}
@media only screen and (min-width : 768px) {
	.content {max-width: 100% !important;}
}
@media only screen and (min-width : 980px) {

}
@media only screen and (min-width : 1024px) {

}



@media only screen and (max-width : 480px) {
  .bottom10 {position: absolute; bottom: 10%; width:97%}
}
@media only screen and (max-width : 640px) {

}
@media only screen and (max-width : 768px) {
  .bottom10 {position: absolute; bottom: 10%; width:84%}
}
@media only screen and (max-width : 980px) {

}
@media only screen and (max-width : 1024px) {
  .bottom10 {position: absolute; bottom: 10%; width:98%}
}
