<div class="text-center logo clearfix">
		<h1><img src="img/ringleader_logo_small.png" alt="ringleaders" /></h1>
	</div>
	<div class="content">
		<div id="login">
		<h6>LOGIN</h6>
		<div class="form">
	        <form name="signin" class="clearfix" ng-submit="login(login)">
	        <div class="group col-md-6 col-sm-12">
	          <label for="user" class="label">Email address</label>
	          <input id="user" type="text" class="input" placeholder="Email ID" name="username" ng-model="login.username">
	        </div>
	        <div class="group col-md-6 col-sm-12">
	          <label for="pass" class="label">Password</label>
	          <input id="pass" type="password" class="input" placeholder="Password" name="password" ng-model="login.password">
	        </div>
	        
	        <div class="col-md-6 col-sm-12">
	        	<label class="control control--checkbox"> Remember me
				    <input type="checkbox" checked="checked"/>
				    <div class="control__indicator"></div>
				</label>
	        </div>
			
	        <div class="group col-md-12">
	          <input type="submit" class="btn btn-orange" value="Login" >
	        </div>
	        </form>
	        <div class="foot-lnk">
	        	<p class="col-md-6 col-sm-12"><a href="forgot_password.html">Forgot Password?</a></p>
	        	<p class="col-md-6 col-sm-12">Not Yet Registered? <a href="signup.html">Create Account</a></p>
	       	</div>
	    </div>
	    </div>
	</div>